body {
  background-color: white;
  color: #111010 !important;
}
#home-row {
  margin: 0 -20px -20px 0;

}
#some-guy {
  height: 300px;
  width: 300px;
  position: relative;

}
.padding-0{
    padding-right:0 !important;
    padding-left:0 !important;
}
#side-one {
  margin-top:260px;
  overflow: hidden;

}

#app {
  overflow: hidden;
}

#side-two {
  overflow: hidden;
}

#container-ting {
  margin-left: 120px;
  justify-content: flex-end;
  text-align: left;
}

#overlay {
  position: absolute;
  background: #76D7C4;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

}

#overlay:hover {
   opacity: 0.5;
   cursor: pointer;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #111010;

}

#span-me{

  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  font-size: 40px;
}
#span-me2{

  font-family: 'Yantramanav', sans-serif;
}

#hr-ting {
  height: 3px;
  width: 150px;
  background-color: #76D7C4;
  margin-left: 120px

}

#button-ting {
  color: #48C9B0;
}

#align-text {
  text-align: left;
  margin-top: 40px;
  margin-left: 115px;
  font-family: 'Yantramanav', sans-serif;
  color: #909497  !important
}

#header {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 700px
}

#header-twitter{
float: right;
margin-right: 30px;
color: '#48C9B0'
}

.header-tingg {
  font-family: 'Roboto Condensed', sans-serif;
}
#header-logo{
float: left;
margin-left: 20px
}

#id-me {
  font-size: 18px !important;
  font-family: 'Yantramanav', sans-serif;
}

@media only screen and (max-width: 768px) {

  #side-two {
    display: none;
  }

  #app {
    overflow-y: hidden;
    width: 500px;

  }

  #id-me {
    font-size: 16px !important;
  }

  #side-one {
    margin-left: -80px;
    margin-top: 200px
  }

  #header-twitter{
  position: absolute;
margin-left: 400px;
  margin-top: -10px
  }

  #span-me {
    font-size: 30px
  }

  #span-me2 {
    font-size: 20px
  }

  #hr-ting{
    width: 100px;
    height: 2px
  }
  .side-two {
    display: none !important;
  }
  #home-row {
    margin: 0 0 0 0;

  }

}

@media only screen and (width: 1024px) {
  #app {
    overflow-y: hidden;
  }

  #side-one {
    margin-left: -80px;
    margin-top: 200px
  }
}
